In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
import xgboost as xgb

In [2]:
data =  pd.read_csv(r'C:\Users\UNION\Documents\dsn\train.csv')

In [3]:
data.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [4]:
label = LabelEncoder()

In [6]:
for col in columns:
    data[col] = label.fit_transform(data[col])

In [7]:
ydata= data['bank_account']
xdata = data.drop(['bank_account'], axis = 1)

In [8]:
uniqueid = data['uniqueid']
xdata = xdata.drop(['uniqueid'], axis =1)

In [9]:
data_dmatrix = xgb.DMatrix(data=xdata,label=ydata)

C:\Users\UNION\myconda\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\UNION\myconda\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

In [10]:
from sklearn.model_selection import GridSearchCV

In [49]:
xg = xgb.XGBClassifier(objective ='reg:logistic', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 7, alpha = 10, n_estimators = 100, )

In [50]:
xg.fit(xdata,ydata)

XGBClassifier(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.3, gamma=0,
       learning_rate=0.1, max_delta_step=0, max_depth=7,
       min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='binary:hinge', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [51]:
prexbg = xg.predict(data_test)

In [ ]:
param={'max_depth':2,'eta':1,'silent':1,'objective':'reg:logistic'}

In [107]:
prexbg.shape

(10086,)

In [14]:
data_test = pd.read_csv(r'C:\Users\UNION\Documents\dsn\test.csv')

In [15]:
def new():
    for i in range(len(data_test)):
        data_test.loc[i, 'uniqueid']  = data_test.loc[i,'uniqueid'] + ' x '+ data_test.loc[i,'country']
    return data_test

In [16]:
data_test3 = new()

In [17]:
columns=['country', 'location_type', 'cellphone_access',
       'household_size', 'gender_of_respondent',
       'relationship_with_head', 'marital_status', 'education_level',
       'job_type']

In [18]:
label = LabelEncoder()

In [19]:
for col in columns:
    data_test[col] = label.fit_transform(data_test[col])

In [20]:
uniqueid_test = data_test3['uniqueid']
data_test = data_test.drop(['uniqueid'], axis=1)

In [21]:
data_test.head()

,country,year,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,0,2018,1,1,3,30,1,1,2,4,2
1,0,2018,1,1,7,51,1,1,2,6,3
2,0,2018,0,0,3,77,0,4,2,1,8
3,0,2018,0,0,6,39,0,1,2,3,8
4,0,2018,1,0,3,16,1,0,3,4,8

In [52]:
submission = {}
submission['uniqueid'] = uniqueid_test
submission['bank_account'] = prexbg
submissionF = pd.DataFrame(submission)
submissionF.to_csv('submissionF.csv', index = False)

In [53]:
submissionFile = pd.read_csv(r'submissionF.csv')

In [54]:
 submissionFile['bank_account'].value_counts()

0    9583
1     503
Name: bank_account, dtype: int64

In [29]:
import tensorflow as tf

In [30]:
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [40]:
model = Sequential()
model.add(Dense(12,activation='relu',input_dim=11,kernel_initializer='uniform'))
model.add(Dense(12,activation='relu',input_dim=11,kernel_initializer='uniform'))

model.add(Dense(1,activation='sigmoid',input_dim=100))

In [41]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [42]:
model.fit(xdata,ydata,batch_size=32,epochs=5,verbose=1)

Epoch 1/5
23524/23524 [==============================] - 16s 664us/step - loss: 0.4073 - acc: 0.85921s - loss: 0.4
Epoch 2/5
23524/23524 [==============================] - 10s 431us/step - loss: 0.3943 - acc: 0.8592
Epoch 3/5
23524/23524 [==============================] - 11s 453us/step - loss: 0.3748 - acc: 0.8592
Epoch 4/5
23524/23524 [==============================] - 12s 494us/step - loss: 0.3498 - acc: 0.8638
Epoch 5/5
23524/23524 [==============================] - 12s 505us/step - loss: 0.3374 - acc: 0.8664

In [43]:
predictions=model.predict_classes(data_test)

In [44]:
preds=predictions.ravel()

In [45]:
preds.shape

(10086,)

In [46]:
submission = {}
submission['uniqueid'] = uniqueid_test
submission['bank_account'] = preds
submissionF = pd.DataFrame(submission)
submissionF.to_csv('submissionkeras2.csv', index = False)

In [47]:
submissionFile = pd.read_csv(r'submissionkeras2.csv')

In [48]:
submissionFile['bank_account'].value_counts()

0    9150
1     936
Name: bank_account, dtype: int64

In [257]:
submissionFile[submissionFile['uniqueid']=='uniqueid_6714 x Kenya']

                  uniqueid  bank_account
645  uniqueid_6714 x Kenya             0

In [27]:
submissionFil = pd.read_csv(r'submissionF.csv')

In [28]:
submissionFil[submissionFil['uniqueid']=='uniqueid_6714 x Kenya']

                  uniqueid  bank_account
645  uniqueid_6714 x Kenya             1